<div class="page">
  <div class="page__header">
    <h1>Richard Samuel Wei</h1>
  </div>
  <div class="page__header">
    <div class="input-group" >
      <div id="searchBar">
        <div class="input-group-prepend">
          <span class="input-group-text" id="searchTag">Search</span>
        </div>
        <input id="search" type="text" value="Ruby on Rails" name="search" />
        <span class="input-group-append">
          <button type="submit" onClick="handleSubmit(this)" class="btn btn-primary">Submit</button>
          <button type="button" onClick="handleReset(this)" class="btn btn-secondary">Reset</button>
        </span>
      </div>
    </div>
  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">ACCORDION</div>
      <div class="tab-menu__item" target="#page2">GRAPH</div>
    </div>
    
    <!-- ACCORDION -->
    <div class="tab-content " id="page1">
      <div class="accordion" id="videoAccordion">
      <% @videos["items"].each_with_index do |video, idx| %>
        <div class="card box-shadow">
          <button class="card-header btn " type="button" data-toggle="collapse" data-target="#<%="collapse#{idx}"%>" aria-expanded="true" aria-controls="<%="collapse#{idx}"%>">
            <div class="container">
              <div class="row rowHeader">
                <div class='col-4 subtitle'>
                  <%= video["snippet"]["title"]%>
                </div>
                <div class='col-4 subtitle'>
                  <%= video["snippet"]["channelTitle"]%>
                </div>
                <div class='col-4'>
                  <%= DateTime.parse(video["snippet"]["publishedAt"]).strftime("%B %d, %Y")%>
                </div>
              </div>
            </div>
          </button>
          <div class="card-body collapse " data-parent="#videoAccordion" id=<%="collapse#{idx}"%>>
            <div class="container">
              <div class="row">
                <div class="col-3">
                  <a href="https://www.youtube.com/watch?v=<%=video["id"]%>">
                    <img src=<%= video["snippet"]["thumbnails"]["high"]["url"] %>></img>
                  </a>
                </div>
                <div class="col-9">
                  <div><%= simple_format(video["snippet"]["description"] ? video["snippet"]["description"] : '') %></div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="viewCount" class="text-muted">VIEW COUNT</label>
                  <div id="viewCount"><%= video["statistics"]["viewCount"] %></div>
                </div>
                <div class="col-3">
                  <label for="likeCount" class="text-muted">LIKE COUNT</label>
                  <div id="likeCount"><%= video["statistics"]["likeCount"] %></div>
                </div>
                <div class="col-6">
                  <label for="tags" class="text-muted">TAGS</label>
                  <div id="tags">
                    <% if !video["snippet"]["tags"].nil? %>
                      <% video["snippet"]["tags"].each_with_index do |tag, tag_idx| %>
                        <span><%= tag_idx!=0 ? ", #{tag}" : "#{tag}"%></span>
                      <% end %>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      <% end %>
      </div>
    </div>

  <!-- GRAPH -->
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        <!-- It feels wrong to be using a stacked bar chart... maybe a grouped bar chart is more appropo -->
        <div id="videoChart"></div>
      </div>
    </div>
  </div>
</div>
<script>
  // building barchart data
  function handleSubmit(event) {
      
      Rails.ajax({
        url: "/page/",
        type: "GET",
        data: "query="+document.getElementById('search').value,
        success: function(data) {
        }
      });
      
  }

  function handleReset(event) {
    document.getElementById('search').value = "Ruby on Rails";
  }

  <% stats = @videos["items"].map { |video| video["statistics"].
    merge({"title" => video["snippet"]["title"]}) } %>
  let videoStats = <%= stats.to_json.html_safe %>;
  buildChart(videoStats)
</script>
